@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100dvh;
  background: #eee;
  display: grid;
  place-items: center;
  place-content: center;
  font-family: "Inter", sans-serif;
}

.banner {
  background: #fff;
  position: relative;
}

/* ++++++++++++++++++++++++++++++++++++++++++++++++++ */

.banner {
  width: 320px;
  height: 50px;

  padding-inline: 4px 12px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}
.banner > * {
  z-index: 4;
}

.text {
  height: 1.5rem;
}
.title {
  height: 1rem;
}

.block {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.button {
  display: inline-flex;
  margin-left: auto;
  margin-right: auto;
}
.button > img {
  height: 0.75rem;
}

.banner > .video {
  position: absolute;
  left: calc(50% + 1rem);
  top: calc(50% - 1.5rem);
  transform: translate(-50%, -50%);
  width: 11rem;
  z-index: 1;
}

.banner .product {
  width: 6rem;
  position: absolute;
  z-index: 2;
  left: calc(50% + 1rem);
  top: 50%;
  transform: translate(-50%, -50%) rotate(40deg);
}
.banner > p {
  color: #eee;
  position: absolute;
  z-index: 4;
  bottom: 2px;
  text-align: center;
  font-size: 3px;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
}
