* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100dvh;
  background: #eee;
  display: grid;
  place-items: center;
  place-content: center;
}

.banner {
  background: #fff;
  position: relative;
}

/* ++++++++++++++++++++++++++++++++++++++++++++++++++ */

.banner {
  width: 300px;
  height: 600px;

  padding: 8px;

  display: flex;
  flex-direction: column;
  gap: 2rem;
  overflow: hidden;
}

.header {
  width: 100%;

  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.logo {
  width: 100%;
}

.award {
  height: 2rem;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.45rem;

  margin: 0 12px;
}

.title {
  height: 3rem;
  object-fit: contain;
}

.text {
  object-fit: contain;
  height: 4rem;
}

.button {
  display: inline-flex;
  margin-left: auto;
  margin-right: auto;
}
.button > img {
  height: 2.5rem;
}

.banner > video {
  position: absolute;
  bottom: -30%;
  left: 50%;
  transform: translateX(calc(-50% + 4px));
  width: 480px;
  z-index: 1;
}

.banner .product {
  width: 18rem;
  position: absolute;
  z-index: 2;
  bottom: -3.25rem;
  left: 50%;
  transform: translateX(-50%);
}
.banner > p {
  color: white;
  position: absolute;
  z-index: 4;
  bottom: 8px;
  text-align: center;
  font-size: 6px;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
}
